 @model HC.WeChat.ActivityForms.Dtos.ActivityFormListDto
 
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0;" name="viewport" />
    <title>活动申请单详细</title>
    <link href="~/YiBinWX/static/css/base.css" rel="stylesheet" />
    <link href="~/YiBinWX/static/css/commons.css" rel="stylesheet" />
    <link href="~/YiBinWX/static/css/personal.css" rel="stylesheet" />
</head>
<body class="bg_gary">
    <div class="all_width">
        <div class="header bg_green tc">
            活动申请单详细
        </div>
        <ul class="personal_link all_width">            
            <li>
                <label class="fl main_green">
                    活动名称
                </label>
                <label class="fl  ml20">@Model.ActivityName</label>
            </li>
            <li>
                <label class="fl main_green">
                    零售客户
                </label>
                <label class="fl  ml20">@Model.RetailerName</label>
            </li>
            <li>
                <label class="fl main_green">
                    客户经理
                </label>
                <label class="fl  ml20">@Model.ManagerName</label>
            </li>
            <li>
                <label class="fl main_green">
                    商品规格
                </label>
                <label class="fl  ml20">@Model.GoodsSpecification</label>
            </li>
            <li>
                <label class="fl main_green">
                    申请数量
                </label>
                <label class="fl  ml20">@Model.Num</label>
            </li>
            <li>
                <label class="fl main_green">
                    申请人
                </label>
                <label class="fl  ml20">&nbsp;&nbsp;&nbsp;@Model.CreationUser</label>
            </li>
            <li>
                <label class="fl main_green">
                    申请时间
                </label>
                <label class="fl  ml20">@Model.CreationTime.ToString("yyyy-MM-dd")</label>
            </li>
            <li>
                <label class="fl main_green">
                    申请理由
                </label>
                <label class="fl  ml20">@Model.Reason</label>
            </li>
            <li style="display:none;height:90px;" id="message" class="advise_warp">
                <label class="fl main_green">
                    审批意见
                </label>
                @*<label class="fl  ml20"></label>*@
                <textarea id="checkMessage"style="width:66%;height:100%;" class="fl  ml20 contain_entry" placeholder="请输入审批意见"></textarea>
            </li>
        </ul>
        <input type="hidden" id="hidOpenId" value="@ViewBag.OpenId" />
        <input type="hidden" id="hidStatus" value="@ViewBag.Status" />
        <input type="hidden" id="hidUserType" value="@ViewBag.UserType" />
    </div>
    <div class="width_90 mt30 mb20">
        @*<input type="button" id="updateBtn" style="display:none" class="middel_btn fr ok" value="修改商品信息" onclick="javascript:window.location.href='@Url.Action("ActivityGoods", "YiBinWX", new { id = Model.Id })'" />*@
        <input type="button" id="cancelBtn" style="display:none" class="middel_btn fl cancel" value="取消申请" onclick="StatusCheck(5)"/>
        <input type="button" id="firstCheckBtn" style="display:none" class="middel_btn fr ok" value="初审通过" onclick="StatusCheck(2)" />
        <input type="button" id="returnCheckBtn" style="display:none" class="middel_btn fr ok" value="资料完善" onclick="javascript:window.location.href='@Url.Action("ActivityBanquet", "YiBinWX", new { actFormId = Model.Id,actFormStatus=ViewBag.Status, openid = ViewBag.OpenId , userType = ViewBag.UserType })'" />
        <input type="button" id="marketingBtn" style="display:none" class="middel_btn fr ok" value="资料回传审核" onclick="javascript:window.location.href='@Url.Action("ActivityBanquet", "YiBinWX", new { actFormId = Model.Id,actFormStatus=ViewBag.Status, openid = ViewBag.OpenId, userType= ViewBag.UserType })'" />
        <input type="button" id="lookOverBtn" style="display:none" class="middel_btn fr ok" value="查看资料" onclick="javascript:window.location.href='@Url.Action("ActivityBanquet", "YiBinWX", new { actFormId = Model.Id,actFormStatus=ViewBag.Status, openid = ViewBag.OpenId, userType= ViewBag.UserType })'" />

    </div>
    <script type="text/javascript" src="~/YiBinWX/static/js/jquery.min.js"></script>
    <script type="text/javascript">
        $(function () {
            //申请单状态
            var status = $("#hidStatus").val();
            //用户类型
            var userType = $("#hidUserType").val();
            //宴席id
            var isBanquent ='@ViewBag.IsBanquent';
            //推荐人信息id
            var deliveryId = '@ViewBag.DeliveryId';
            //if (status == 6) {
            //    $("#lookOverBtn").show();
            //} else {
                //登录用户为零售户时
                if (userType == 1) {
                    if (status == 1) {
                        $("#cancelBtn").show();
                        $("#returnCheckBtn").hide();
                    } else if (status == 2) {
                        $("#cancelBtn").hide();
                        $("#returnCheckBtn").show();
                    } else if (status == 5) {
                        $("#cancelBtn").hide();
                        $("#returnCheckBtn").hide();
                    }
                }
                //登录用户为客户经理时
                else if (userType == 2) {
                    $("#cancelBtn").show();

                    //初审通过时
                    if (status == 2) {
                        if (isBanquent) {
                            $("#marketingBtn").show();
                            $("#returnCheckBtn").hide();
                            $("#firstCheckBtn").hide();
                            $("#message").hide();
                        } else {
                            $("#marketingBtn").hide();
                            $("#returnCheckBtn").show();
                            $("#firstCheckBtn").hide();
                            $("#message").hide();
                        }
                    }//提交申请时，还未进行初审时
                    else if (status == 1) {
                        $("#firstCheckBtn").show();
                        $("#message").show();
                        $("#marketingBtn").hide();
                        $("#returnCheckBtn").hide();
                    } else if (status == 5) {
                        $("#firstCheckBtn").hide();
                        $("#message").hide();
                        $("#marketingBtn").hide();
                        $("#returnCheckBtn").hide();
                        $("#cancelBtn").hide();
                    } else if (status == 3) {
                        $("#firstCheckBtn").hide();
                        $("#message").hide();
                        $("#marketingBtn").hide();
                        $("#returnCheckBtn").hide();
                        $("#cancelBtn").show();
                    }
                }
            //}
        });
        //取消、初审通过按钮
        function StatusCheck(status) {
            var content = status==2?"是否初审通过？":"是否取消申请？"
            if (confirm(content)) {
                var para = {};
                if (status == 2) {
                    para.Opinion = $("#checkMessage").val();
                }
                para.Status = status;
                para.Id = '@Model.Id';
                para.OpenId = $("#hidOpenId").val();
                para.TenantId = "@ViewBag.TenantId";
                var reqUrl = "@ViewBag.ServerRootAddress" + "/api/services/app/ActivityForm/ChangeActivityFormStatusWeChatAsync";
                $.ajax({
                    url: reqUrl,
                    type: "POST",
                    dataType: "JSON",
                    contentType: "application/json;charset=utf-8",
                    data: JSON.stringify(para),
                    success: function (data) {
                        if (data.success) {
                            if (data.result.code == 0) {
                                alert(data.result.msg);
                                location.reload();
                                parent.location.reload();
                            } else {
                                alert(data.result.msg);
                            }
                        } else {
                            alert("保存异常！");
                        }
                    },
                    error: function () {
                        alert("提交失败！");
                    }
                });
            }
        }
    </script>
</body>
</html>
