@model HC.WeChat.ActivityForms.Dtos.ActivityFormForWechat
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0;" name="viewport" />
    <title>宜宾烟草</title>
    <link href="~/YiBinWX/static/css/base.css" rel="stylesheet" />
    <link href="~/YiBinWX/static/css/commons.css" rel="stylesheet" />
    <link rel="stylesheet" href="//res.wx.qq.com/open/libs/weui/1.1.2/weui.min.css" />
</head>
<body class="bg_gary">
    <div class="weui-tab">
        <div class="weui-navbar">
            <div class="weui-navbar__item weui-bar__item_on" onclick="navbarClick(this, 1)">
                未邮寄
            </div>
            <div class="weui-navbar__item" onclick="navbarClick(this, 2)">
                已邮寄
            </div>
        </div>
        <div class="weui-tab__panel preview">
            <div class="page__bd" id="noSendPage">
                @foreach (var item in Model.ActivityFormNoSendList)
                {
                    <div class="weui-form-preview">
                        <div class="weui-form-preview__hd">
                            <div class="weui-form-preview__item">
                                <label class="weui-form-preview__label">@item.GoodsSpecification</label>
                                <em class="weui-form-preview__value">@(item.Num)条</em>
                            </div>
                        </div>
                        <div class="weui-form-preview__bd">
                            <p>
                                <label class="weui-form-preview__label">单号</label>
                                <span class="weui-form-preview__value">@item.FormCode</span>
                            </p>
                            <p>
                                <label class="weui-form-preview__label">@item.StatusName</label>
                                <span class="weui-form-preview__value">@item.CreationTime.ToString("yyyy-MM-dd HH:mm")</span>
                            </p>
                        </div>
                        <div class="weui-form-preview__ft">
                            <a class="weui-form-preview__btn weui-form-preview__btn_primary" href="javascript:">查看详细</a>
                        </div>
                    </div>
                    <br />
                }
                @if (Model.ActivityFormNoSendList.Count() == 0)
                {
                    <div class="weui-loadmore weui-loadmore_line">
                        <span class="weui-loadmore__tips">暂无数据</span>
                    </div>

                }
            </div>
            <div class="page__bd" id="sendOutPage" style="display:none">
                <div class="weui-cells__title">已邮寄显示最近50条数据</div>
                @foreach (var item in Model.ActivityFormSendOutList)
                {
                    <div class="weui-form-preview">
                        <div class="weui-form-preview__hd">
                            <div class="weui-form-preview__item">
                                <label class="weui-form-preview__label">@item.GoodsSpecification</label>
                                <em class="weui-form-preview__value">@(item.Num)条</em>
                            </div>
                        </div>
                        <div class="weui-form-preview__bd">
                            <p>
                                <label class="weui-form-preview__label">单号</label>
                                <span class="weui-form-preview__value">@item.FormCode</span>
                            </p>
                            <p>
                                <label class="weui-form-preview__label">@item.StatusName</label>
                                <span class="weui-form-preview__value">@item.CreationTime.ToString("yyyy-MM-dd HH:mm")</span>
                            </p>
                        </div>
                        <div class="weui-form-preview__ft">
                            <a class="weui-form-preview__btn weui-form-preview__btn_primary" href="javascript:">查看详细</a>
                        </div>
                    </div>
                    <br />
                }
                @if (Model.ActivityFormSendOutList.Count() == 0)
                {
                    <div class="weui-loadmore weui-loadmore_line">
                        <span class="weui-loadmore__tips">暂无数据</span>
                    </div>

                }
            </div>
        </div>
    </div>
    <div class="weui-footer weui-footer_fixed-bottom">
        <p class="weui-footer__text">酒都金叶 | 宜宾烟草</p>
    </div>
    <script type="text/javascript" src="static/js/jquery.min.js"></script>
    <script type="text/javascript">
        function navbarClick(obj, num) {
            $(".weui-navbar__item").removeClass("weui-bar__item_on");
            $(obj).addClass("weui-bar__item_on");
            if (num == 1) {
                $("#noSendPage").show();
                $("#sendOutPage").hide();
            } else {
                $("#noSendPage").hide();
                $("#sendOutPage").show();
            }
        }
    </script>
</body>
</html>
