@model HC.WeChat.WeChatUsers.Dtos.WeChatUserListDto
@{
    ViewData["Title"] = "个人中心";
    int pcount = int.Parse(ViewBag.PendingCount.ToString());
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0;" name="viewport" />
    <title>个人中心</title>
    <link rel="stylesheet" href="static/css/base.css" />
    <link rel="stylesheet" href="static/css/commons.css" />
    <link rel="stylesheet" href="static/css/personal.css" />
    <link rel="stylesheet" href="//res.wx.qq.com/open/libs/weui/1.1.2/weui.min.css" />
</head>
<body class="bg_gary">
    <!--页面整体-->
    <div class="weui-cells" style="margin-top:0px;">
        <div class="weui-cell" style=" padding: 0px 0px;">
            <!--个人中心头部-->
            <div class="personal_head" style="width:100%;">
                <!--头像-->
                <img src="@Model.HeadImgUrl" class="personal_header" />
                <p class="personal_id"><span>@Model.NickName</span></p>
            </div>
        </div>
        <div class="weui-cell">
            <div class="weui-cell__bd">
                <p>用户姓名</p>
            </div>
            <div class="weui-cell__ft">@Model.UserName</div>
        </div>
        <div class="weui-cell">
            <div class="weui-cell__bd">
                <p>用户类型</p>
            </div>
            <div class="weui-cell__ft">@Model.UserType.ToString()</div>
        </div>
        @if (Model.UserType == HC.WeChat.WechatEnums.UserTypeEnum.零售客户)
        {
            <div class="weui-cell">
                <div class="weui-cell__bd">
                    <p>我的档级</p>
                </div>
                <div class="weui-cell__ft">@ViewBag.UserLevel</div>
            </div>
        }
    </div>
    <div class="weui-cells__title">营销活动</div>
    <div class="weui-cells">
        <a class="weui-cell weui-cell_access" href="@Url.Action("ActivityFromApply","YiBinWX",new { check = false, openId = Model.OpenId })">
            <div class="weui-cell__bd">
                <p>消费引领</p>
            </div>
            <div class="weui-cell__ft">
                @(ViewBag.FormCount)单
            </div>
        </a>
        @if (Model.UserType == HC.WeChat.WechatEnums.UserTypeEnum.公司员工)
        {
            @if (pcount > 0)
            {
                <a class="weui-cell weui-cell_access" href="@Url.Action("ActivityFromPendingApply","YiBinWX",new { openId = Model.OpenId })">
                    <div class="weui-cell__bd">
                        <span style="vertical-align: middle">待审核</span>
                        <span class="weui-badge" style="margin-left: 5px;">@pcount</span>
                    </div>
                    <div class="weui-cell__ft">
                    </div>
                </a>
            }
            else
            {
                <div class="weui-cell">
                    <div class="weui-cell__bd">
                        <span style="vertical-align: middle">待审核</span>
                    </div>
                    <div class="weui-cell__ft">
                        无
                    </div>
                </div>
            }
        }
    </div>
    <div class="weui-cells__title">功能列表</div>
    <div class="weui-cells">
        @if (Model.UserType == HC.WeChat.WechatEnums.UserTypeEnum.零售客户)
        {
            <a class="weui-cell weui-cell_access" href="javascript:alert('此功能正在开发中....');">
                <div class="weui-cell__bd">
                    <p>折皱卷烟置换</p>
                </div>
                <div class="weui-cell__ft">
                </div>
            </a>
        }
        @if (Model.UserType == HC.WeChat.WechatEnums.UserTypeEnum.公司员工)
        {
            <a class="weui-cell weui-cell_access" href="@Url.Action("Authorization","YiBinWX",new { page = 4, type = 2 })">
                <div class="weui-cell__bd">
                    <p>投放方式</p>
                </div>
                <div class="weui-cell__ft">
                </div>
            </a>
            <a class="weui-cell weui-cell_access" href="@Url.Action("Authorization","YiBinWX",new { page = 4, type = 3 })">
                <div class="weui-cell__bd">
                    <p>进度查询</p>
                </div>
                <div class="weui-cell__ft">
                </div>
            </a>
        }
        <a class="weui-cell weui-cell_access" href="https://m.kuaidi100.com/">
            <div class="weui-cell__bd">
                <p>快递查询</p>
            </div>
            <div class="weui-cell__ft">
            </div>
        </a>
        <a class="weui-cell weui-cell_access" href="@Url.Action("Authorization","YiBinWX",new { page = 3 })">
            <div class="weui-cell__bd">
                <p>意见反馈</p>
            </div>
            <div class="weui-cell__ft">
            </div>
        </a>
    </div>
    <div class="weui-footer weui-footer_fixed-bottom">
        <p class="weui-footer__text">酒都金叶 | 宜宾烟草</p>
    </div>
    @*<ul class="personal_link all_width">
            <li style=" margin-bottom:0px; padding-bottom:0px;">
                <div style="color:darkgray">活动申请单</div>
                <hr style="color:darkgray; margin-bottom:0px;" />
            </li>
        </ul>
        <ul class="personal_link all_width">
            <li>
                <label class="fl main_green">
                    未完成
                </label>
                <label class="fl ml20">@ViewBag.OutstandingCount 单</label>
                <a class="fr" style="color:yellowgreen" href="@Url.Action("ActivityFromApply","YiBinWX",new { check = false , openId = Model.OpenId })">查看</a>
            </li>
            <li>
                <label class="fl main_green">
                    已完成
                </label>
                <label class="fl ml20">@ViewBag.CompletedCount 单</label>
                <a class="fr" style="color:yellowgreen" href="@Url.Action("ActivityFromApply","YiBinWX",new { check = true,openId = Model.OpenId })">查看</a>
            </li>
        </ul>*@
</body>
</html>


